<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102730474815-ve7fo2q41gvb81nq6m0vukop4i2vm1hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102730474815-ve7fo2q41gvb81nq6m0vukop4i2vm1hq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>102730474815-4rnf3brnh4cs4n11afi0t406vsncktut.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDegdAgzH5e30wD-6kWW--OYF_bLbo7BDE</string>
	<key>GCM_SENDER_ID</key>
	<string>102730474815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.live.worldsocialintegrationapp</string>
	<key>PROJECT_ID</key>
	<string>wowcross-d1bf1</string>
	<key>STORAGE_BUCKET</key>
	<string>wowcross-d1bf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102730474815:ios:46c84deb9ba72507d6df8a</string>
	<key>DATABASE_URL</key>
	<string>https://wowcross-d1bf1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>